.pad {
	box-sizing: border-box;

	width: 100%;

	max-width: 23rem;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	justify-content: center;

	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;

	gap: 1rem;
}

.pad hr {
	border: none;
	height: 1px;
	margin: 0;
	background-color: #656565;
}
