nav.utility-menu__options-nav {
	display: flex;
	flex-direction: row;
}

div.utility-menu {
	box-sizing: border-box;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* <--- Buttons ------------------------------> */
button.utility-menu__delete-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0 0.5rem;
}

a.options-nav__button {
	padding: 0 0.5rem;
}

button.utility-menu__delete-button:hover {
	opacity: 0.5;
}

a.options-nav__button:hover {
	opacity: 0.5;
}
