@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "./normalize.css";

body div#root section.calculator {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-optical-sizing: auto;
}

body div#root {
	transition: opacity 0.2s ease;
}

.fade-out {
	opacity: 0;
}
.fade-in {
	opacity: 1;
}
