@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "./normalize.css";

* {
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: inherit;
}

div#root {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	font-optical-sizing: auto;
}

body {
	background: #252525;
}
