@import "normalize.css";

.layout {
	display: flex;
	flex-direction: column;
	background: lightgray;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
}

.layout-main {
	display: flex;
	flex-direction: column;

	height: 100vh;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
