div.history-calculator {
	--color-text-base: #f9f9f9;

	background: #252525;
	min-height: 100vh;
}

header.history-calculator__header {
	display: flex;
	flex-direction: column;
	align-items: center;

	color: var(--color-text-base);

	padding: 2rem;
}

ul.section__list-operations {
	margin: 0;
	padding: 0;
	list-style-type: none;

	display: flex;
	flex-direction: column-reverse;

	margin: auto 1rem;
	gap: 0.5rem;
}

li.list-operations__item {
	display: flex;
	flex-direction: row;

	border: solid 1px;
	border-color: transparent;

	padding: 2rem;
	background: #00ddb508;
	color: var(--color-text-base);

	justify-content: space-between;
	align-items: center;

	border-radius: 1rem;
}

li.list-operations__item:hover {
	background: #00ddb520;
	border: solid 1px;
	border-color: rgba(255, 255, 255, 0.5);

	cursor: pointer;
}

li.list-operations__item:active {
	background: rgba(255, 255, 255, 0.685);
	color: black;
}

header.history-calculator__header {
	display: flex;
	flex-direction: row;

	justify-content: space-between;
}

.header__body {
	display: flex;
	flex-direction: column;

	text-align: center;
}

a.return-button {
	color: var(--color-text-base);
	text-decoration: none;

	font-size: xx-large;
}

a.return-button:hover {
	color: rgba(249, 249, 249, 0.5);
}
