.display__operation {
	text-align: end;

	font-size: 2.5lh;
	background-color: transparent;
	outline: 0;
	border: 0;
	color: white;
	user-select: none;

	mask-image: linear-gradient(to left, black 80%, transparent 100%);
}
