.display__result {
	text-align: end;

	font-size: 2lh;
	background: transparent;
	outline: none;
	border: none;
	color: #00ddb5;

	mask-image: linear-gradient(to left, black 80%, transparent 100%);
}
